.cabecalho{
    position: absolute;
    width: 1440px;
    height: 190px;
    left: 0px;
    top: 0px;
    
    background: #D4E1E4;
}
.imgcabecalho{
    position: absolute;
    width: 182px;
    height: 188px;
    left: 76px;
    top: 2px;
    
    background: url(logosite);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item1{
    position: absolute;
    width: 298px;
    height: 46px;
    left: 746px;
    top: 88px;

    font-family: 'Digital Numbers';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;

    color: #000000;

}

.item2{
    
    position: absolute;
    width: 180px;
    height: 41px;
    left: 1138px;
    top: 88px;

    font-family: 'Digital Numbers';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;

    color: #000000;
}

.corpo{
    position: absolute;
    width: 1440px;
    height: 748px;
    left: 0px;
    top: 191.5px;

    background: #B8CACE;
}

.corpoti{
    position: absolute;
    width: 330px;
    height: 58px;
    left: 324px;
    top: 221px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;

    color: #000000;
}

.corpopa{
    position: absolute;
    width: 889px;
    height: 364px;
    left: 69px;
    top: 292px;

    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #000000;
}